<h1>Add a new course</h1>

<form action='/courses' method='post'>
  <label for="name">Course Name:</label>
  <input id="name" name="name" type="text">
  <label for="number">Course Number:</label>
  <input id="number" name="number" type="text">
  <button type="submit">Add new course</button>

  <p><a href="/">Return to Home</a></p>
  <p><a href="/courses">View All Courses</a></p>
